header {
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    color: $color_primary;
    padding-bottom: 5px;
    border-bottom: 1px solid $color_primary;
    

    .logo {
      
        display: flex;
        justify-items: center;
        align-items: center;

        img {
            width: 20px;
            height: auto;
        }

        span {
            padding-left: 10px;
        }
    }

    nav {
        display: flex;
        justify-items: center;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            li {
                padding: 10px;
            }

            button {
                padding: 0px 20px 0px 20px;
                background-color: white;
                border: solid $color_secondary 1px ;
                border-radius: 7px;
                color: $color_secondary;
            }
        }
    }
}